*{
font-family: "Play", system-ui;  
font-weight: 800;
font-style: normal;

}

:root {
    --x:  rgb(233, 88, 35);
}

/*navbar*/

.nav-item{
  font-size: 1.5rem;
  margin-top: -20px;
  
}
.nav-link:hover {
  color: var(--x) !important; /* change text color on hover */
}

.navbar-brand{
  height: 150px;
  width: 100px;
  margin-top: -20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*scroll up button*/

 #scrollToTopBtn {
    z-index: 9999;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    background-color:white;
    color: black;
    border: 2px solid blue;
    box-shadow: 0 0 10px blue;
  }

  #scrollToTopBtn:hover { 
    box-shadow: 0 0 25px var(--x);
  }

/*carosel banner*/

.carousel-inner{
height: 80vh;
}

/*category*/

.card-title{
  font-size: 3rem;
}

#category{
/*  background-image: url("https://images.unsplash.com/photo-1522778526097-ce0a22ceb253?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhZGl1bXxlbnwwfHwwfHx8MA%3D%3D");
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  padding-bottom: 10px;
}

.card:hover {
  box-shadow: 0 30px 30px var(--x);
  transform: translateY(-5px);
  transition: all 0.4s ease;
}

/*product cards*/

.card-title1{
font-size:30px;
}

/*footer*/

.footer-link:hover{
  color: var(--x);
}
